import { I{{properCase name}}Props } from './{{kebabCase name}}.types';

export const {{properCase name}} = ({}: I{{properCase name}}Props): JSX.Element => {
  return (
    <div className="block">
      {{properCase name}}
    </div>
  );
};
